CONFIG_IDF_TARGET="esp32s3"
CONFIG_BITAXE_VIRTUAL=y
CONFIG_BITAXE_VIRTUAL_ASIC_MODE_CPU=y
CONFIG_ETH_USE_OPENETH=y
CONFIG_ETH_OPENETH_DMA_RX_BUFFER_NUM=8
CONFIG_ETH_OPENETH_DMA_TX_BUFFER_NUM=8
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_LWIP_LOCAL_HOSTNAME="virtualaxe"
CONFIG_ESP_WIFI_SSID=""
CONFIG_ESP_WIFI_PASSWORD=""
CONFIG_STRATUM_URL="public-pool.io"
CONFIG_STRATUM_PORT=3333
CONFIG_STRATUM_TLS_DISABLED=y
CONFIG_STRATUM_CERT="x"
CONFIG_STRATUM_USER="1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa"
CONFIG_STRATUM_PW="x"
CONFIG_STRATUM_DIFFICULTY=1
CONFIG_FALLBACK_STRATUM_URL="pool.bitronics.store"
CONFIG_FALLBACK_STRATUM_PORT=3334
CONFIG_FALLBACK_STRATUM_TLS_DISABLED=y
CONFIG_FALLBACK_STRATUM_CERT="x"
CONFIG_FALLBACK_STRATUM_USER="1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa"
CONFIG_FALLBACK_STRATUM_PW="x"
CONFIG_FALLBACK_STRATUM_DIFFICULTY=1
CONFIG_ASIC_FREQUENCY=100
CONFIG_ASIC_VOLTAGE=1000
CONFIG_ESP_INT_WDT=n
CONFIG_ESP_TASK_WDT=n
